{%extends 'base.html' %}

{% block content %}
	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card">
	                            <div class="card-content">
	                                <div class="toolbar">
	                                    <!--Here you can write extra buttons/actions for the toolbar-->
	                                </div>
	                                <table class="table">
	                                    <thead>
	                                        <th data-field="id" class="text-center">№</th>
	                                    	<th data-field="name" data-sortable="true">Ism</th>
	                                    	<th data-field="salary" data-sortable="true">Familiya</th>
	                                    	<th data-field="salary" data-sortable="true">Yonalish</th>
	                                    	<th data-field="salary" data-sortable="true">Nik</th>
	                                    	<th data-field="salary" data-sortable="true">Status</th>
	                                    </thead>
	                                    <tbody>
											{% for i in all %}
	                                        	<tr>
													<td>{{forloop.counter}}</td>
													<td>{{i.ism}}</td>
													<td>{{i.familiya}}</td>
													<td>{{i.yonalishi}}</td>
													<td>{{i.telegramnikname}}</td>
													{%if i.status%}
													<td>Bant</td>
													{%else%}
													<td>Bosh</td>
													{%endif%}
<!--													<td></td>-->
												</tr>
	                                    	{%endfor%}
										</tbody>
	                                </table>
	                            </div>
	                        </div><!--  end card  -->
	                    </div> <!-- end col-md-12 -->
	                </div> <!-- end row -->
	            </div>
	        </div>
{% endblock %}